*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #15181a;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
@media (max-width: 1000px) {
  .mobile{
    height: 100vh;
    background-image: url("images/lobo-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
  }
  .mobile h1{
    padding-top: 60%;
    top: 50%;
  }
  .mobile .text-center{
    height: 100vh;
  }
}
.skw-pages {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.skw-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.skw-page__half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100vh;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.skw-page__half--left {
  left: 0;
  -webkit-transform: translate3d(-32.4vh, 100%, 0);
          transform: translate3d(-32.4vh, 100%, 0);
}
.skw-page__half--right {
  left: 50%;
  -webkit-transform: translate3d(32.4vh, -100%, 0);
          transform: translate3d(32.4vh, -100%, 0);
}
.skw-page.active .skw-page__half {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.skw-page__skewed {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 140%;
  height: 100%;
  -webkit-transform: skewX(-18deg);
          transform: skewX(-18deg);
  background: #000;
}
.skw-page__half--left .skw-page__skewed {
  left: -40%;
}
.skw-page__half--right .skw-page__skewed {
  right: -40%;
}
.skw-page__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 30%;
  color: #fff;
  -webkit-transform: skewX(18deg);
          transform: skewX(18deg);
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  background-size: cover;
}
.skw-page__half--left .skw-page__content {
  padding-left: 30%;
  padding-right: 30%;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}
.skw-page__half--right .skw-page__content {
  padding-left: 30%;
  padding-right: 30%;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}
.skw-page.inactive .skw-page__content {
  opacity: 0.5;
  -webkit-transform: skewX(18deg) scale(0.95);
          transform: skewX(18deg) scale(0.95);
}
.skw-page__heading {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
}
.skw-page__description {
  font-size: 18px;
  text-align: center;
}
.skw-page__description img {
  width: 50px;
}
.skw-page__description .link {
  text-decoration: none;
  color: #fff;
  border: 2px solid #0b0b0b;
  border-radius: 25px;
  padding: 10px;
  background: #0b0b0b;
}

.skw-page__link {
  color: #ffa0a0;
}
.skw-page-1 .skw-page__half--left .skw-page__content {
  background-image: url('images/fundo-lobo.jpg');
}
.skw-page-1 .skw-page__half--right .skw-page__content {
  background: #292929;
}
.skw-page-2 .skw-page__half--left .skw-page__content {
  background: #292929;
}
.skw-page-2 .skw-page__half--right .skw-page__content {
  background-color: #393939;
}
.skw-page-3 .skw-page__half--left .skw-page__content {
  background-image: url('images/background-courses.jpg');
}
.skw-page-3 .skw-page__half--right .skw-page__content {
  background: #292929;
}
.skw-page-4 .skw-page__half--left .skw-page__content {
  background: #292929;
}
.skw-page-4 .skw-page__half--right .skw-page__content {
  background-image: url('images/background-contato.png');
}

.container-fluid{
  height: 100%;
}
.top-img, .mid-img, .bot-img{
  height: 33.3%;
  top: 5%;
}
.top-img img{
  width: 50%;
  border-radius: 50%;
}
.top-img img:hover{
  transform: scale(1.3);
  transition: 0.5s;
  box-shadow: 0px 0px 20px 0px #bababa;
}
.mid-img img{
  width: 50%;
  border-radius: 50%;
}
.mid-img img:hover{
  transform: scale(1.3);
  transition: 0.5s;
  box-shadow: 0px 0px 20px 0px #bababa;
}
.bot-img img{
  width: 50%;
  border-radius: 50%;
}
.bot-img img:hover{
  transform: scale(1.3);
  transition: 0.5s;
  box-shadow: 0px 0px 20px 0px #bababa;
}
